# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
a = 66
b = 66
print("Same value: " + str(a==b))
print("Same element: " + str(a is b))

Same value:True
Same element:True

Значення та посилання одне і теж саме, тому що значення з цього проміжку кешуються

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [6]:
print("Is True bool: " +str(isinstance(True, bool)))
print("Is True int: " +str(isinstance(True, int)))

Same value: True
Same value: True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [9]:
a = 8
b = 2.15
print("a + b = "+str(a+b))
print("a - b = "+str(a-b))
print("a * b = "+str(a*b))
print("a // b = "+str(a//b))
print("a % b = "+str(a%b))
print("a ^ b = "+str(a**b))

a + b = 10.15
a - b = 5.85
a * b = 17.2
a // b = 3.0
a % b = 1.5500000000000003
a ^ b = 87.4265764322813

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [45]:
print("Is int(b) integer:"+str(isinstance(int(b), int)))
print("int(b)="+str(int(b)))
boolean = True
print("Is int(boolean) integer:"+str(isinstance(int(boolean), int)))
print("int(boolean)="+str(int(boolean)))

Is int(b) integer:True
int(b)=2
Is int(boolean) integer:True
int(boolean)=1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [10]:
str1 = ""
str2 = str()
print("Is str1 string: " +str(isinstance(str1, str)))
print("Is str2 string: " +str(isinstance(str2, str)))

Same value: True
Same value: True

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [14]:
str1 = '\''
raw_str1 = r'\''
print(str1)
print(raw_str1)

'
\'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [15]:
surname = "Vitisk"
string = f"My surname is {surname}"
print(string)

My surname is Vitisk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [18]:
string = "My dog is crazy."
# string.split() is not enough because it will return ['My', 'dog', 'is', 'crazy.']
# and task wants to get "crazy" without a point in the ending
# and "My" must start with lowercase
string.lower().replace(".", "").split()

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [20]:
my_list = ["panda", "pandas", "more pandas"]
my_list1 = list("even more pandas")
print(my_list)
print(my_list1)
print(len(my_list))

['panda', 'pandas', 'more pandas']
['e', 'v', 'e', 'n', ' ', 'm', 'o', 'r', 'e', ' ', 'p', 'a', 'n', 'd', 'a', 's']
3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [22]:
list1 = ["bamboo","color"]
list2 = ["black", "white"]
list1.append(list2)
list1

['bamboo', 'color', ['black', 'white']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [27]:
list3 = [list1, list2]
print(list3)
list3[-1][0]

[['bamboo', 'color', ['black', 'white']], ['black', 'white']]

'black'

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [29]:
list4 = ['a', 1, 2.1, True, ["list"], {"key":"value"}, ("tu", "ple"), None, complex(1,1), {"set"}]
new_list = list4[2:-2]

len(new_list)

6

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [31]:
my_tuple = (5,)
type(my_tuple)

tuple

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

На відміну від списку, кортежі - незмінні

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [37]:
my_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 10.3, 11.6)
even_tuple = my_tuple[-2::-2]
even_tuple

(10.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [32]:
my_set = set()
my_set.add("a")
my_set.add("b")
my_set.add("c")
my_set

{'a', 'b', 'c'}

Оскільки ми змогли додати елементи до пустої множини, то можемо зробити висновок, що це змінний тип данних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [35]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
my_set

{1, 2, 8, 9, 67}

Зникли ті елементи, що повторюються, оскільки множина зберігає тільки унікальні елементи

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [38]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6, 7, 8}

union = set1.union(set2)
print("Union: " + str(union))
diff = set1.difference(set2)
print("difference: " + str(diff))
intersec = set1.intersection(set2)
print("intersection: " + str(intersec))
sym_diff = set1.symmetric_difference(set2)
print("symmetric difference: " + str(sym_diff))

Union: {1, 2, 3, 4, 5, 6, 7, 8}
difference: {1, 2}
intersection: {3, 4}
symmetric difference: {1, 2, 5, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [46]:
my_dict = {}

my_dict[1] = 2
my_dict["login"] = "password"
my_dict[(3, 2, 1)] = " - start"
my_dict[2.71828] = "Euler number"
my_dict

{1: 2, 'login': 'password', (3, 2, 1): ' - start', 2.71828: 'Euler number'}

Список не може бути ключем, оскільки як ми бачили вище він є змінним об'єктом, а ключем може бути тільки незмінний елемент

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [41]:
new_dict = {"level1":{"level2":{"level3":"bottom of the Ocean"}}, "ground":"finally solid ground"}
print(new_dict)

print(new_dict["level1"]["level2"]["level3"])

{'level1': {'level2': {'level3': 'bottom of the Ocean'}}, 'ground': 'finally solid ground'}
bottom of the Ocean

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.